.dart-board {
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    gap: 10px;
}

.outer-bull {
    grid-column-start: 1;
    grid-column-end: 3;
}

.content-container {
    position: relative;
}

.dart-board p {
    padding: 10px;
    border-radius: var(--sm-radius);
    color: var(--white);
    font-weight: 600;
    text-align: center;
}

.dart-board p:hover {
    cursor: pointer;
    filter: opacity(80%) brightness(80%);
}

.odd {
    background-color: var(--white);
    border: 1px solid var(--black);
    color: var(--black) !important;
}

.odd + p,.odd + p + p {
    background-color: var(--green);
}

.even {
    background-color: var(--black);
    border: 1px solid var(--white);
    
}

.even + p, .even + p + p {
    background-color: var(--red);
}

.outer-bull {
    background-color: var(--green);
}

.outer-bull + p {
    background-color: var(--red);
}

.disabled {
    filter: opacity(50%);
}

.disabled:hover {
    cursor:not-allowed;
}

.end-turn {
    width: 80%;
    padding: 15px;
    margin-bottom: 15px;
    background: var(--black);
    color: var(--white);
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: var(--sm-radius);
}

.undo {
    padding: 15px;
    margin-bottom: 15px;
    background: var(--black);
    border: none;
    border-radius: 4px;
}

.undo:hover {
    cursor: pointer;
    filter: brightness(170%);

}

.active:hover {
    filter: brightness(170%);
    cursor: pointer;
}

.sticky {
    position: sticky;
    top: 0;
    background: var(--white);
}

.buttons {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
