.odd {
    background-color: var(--white);
    border: 1px solid var(--black);
    color: var(--black) !important;
}

.odd + p,.odd + p + p {
    background-color: var(--green);
}

.even {
    background-color: var(--black);
    border: 1px solid var(--white);
    
}

.even + p, .even + p + p {
    background-color: var(--red);
}