.player-score {
    padding: 25px;
    text-align: center;
    position: sticky;
    top: 0;
    background-color: var(--white);
    z-index: 99;
    border-bottom: 1px solid var(--black);
    margin-bottom: 15px;
}

.player-score h2 {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;
}

.player-score h3 {
    font-size: 6rem;
    font-weight: 900;
    margin: 0;
    line-height: 6rem;
}

