@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

:root {
  --yellow: #E9EA4F;
  --green: #0D7A41;
  --white: #F3E5D0;
  --black: #1B1714;
  --red: #D92B5A;
  --red-hover: #A61420;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

