.content-wrapper {
    background: var(--black);
    padding-bottom: 45px;
}

.content-wrapper h1 {
    color: var(--white);
    padding: 35px;
    margin: 0 auto;
    text-align: center;
    text-decoration: underline;
}